.DS_Store
.RData
.Rhistory
.Rproj.user
.Renviron

*.Rproj

input
output

*.accdb
*.mdb
*.csv
*.doc
*.docx
*.jpg
*.log
*.pdf
*.png
*.synctex.gz
*.tex
*.xls
*.xlsx
*.html
*.md

!README.md
!NEWS.md
packrat/lib*/
packrat/src/
